body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }

  .img {
    border-radius: 100%;
    width: 150x;
    height: 150px;
  }
  
  h1, h2 {
    margin: 0;
  }
  
  .contato, .perfil, .experiencia, .formacao, .habilidades {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  /* Estilos específicos para cada seção */
  .contato ul {
    list-style: none;
    padding: 0;
  }
  
  .contato li {
    margin-bottom: 10px;
  }
  
  .experiencia-item, .formacao-item {
    margin-bottom: 10px;
  }
  
  .habilidades ul {
    list-style: none;
    padding: 0;
  }
  
  .habilidades li {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #eee;
    border-radius: 5px;
  }
  
a {
    color: gray;
}
a:hover {
    background-color: gray;
    color: white;
}